.display {
  width: 700px;
  height: 700px;
  margin-left: 70px;
  border: 3px solid var(--primary);
  background-color: var(--primary);
  overflow-y: scroll;

  h2 {
    font-size: 40px;
    margin: 20px 0 0 20px;
  }

  h3 {
    font-size: 30px;
    margin: 20px 0 0 30px;
    text-decoration: underline;
    color: var(--text);
    user-select: none;

    &:hover {
      color: #c0c0c0;
      cursor: pointer;
    }
  }

  .top-level-list {
    font-size: 20px;
    margin: 10px 0 0 50px;
  }
}
