@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

:root {
  --primary: #4d4d4d;
  --secondary: #ffcc00;
  --tertiary: #007acc;
  --text: #efefef;

  font-family: "Open Sans", sans-serif;

  color: var(--text);
  background-color: var(--secondary);

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}
